/*About*/
.about{
	background-color: var(--light-background);
    padding-bottom: 4rem;
}

.about h2{
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;

}

.about p,h2{
    color: black;
    padding-top: 2rem ;
    margin: auto;
    padding-bottom: 3rem;
    width: clamp(20px, 50vw, 1000px);
    z-index: 2;
}

.school{
    color:var(--greenish-gray);
    text-decoration: none; 
    cursor: pointer;
}

.school:hover {
    text-decoration: underline;
}

.about_content{
    flex:1;
    display: flex;
    flex-direction: column;
}

/*About*/

@media screen and (max-width: 1300px)
{
    .about p,h2{
        width: clamp(20px, 65vw, 1000px);
    }
}

@media screen and (max-width: 800px)
{
    .about p,h2{
        width: clamp(20px, 80vw, 1000px);
    }
}