.contact{
    padding-top: max(10rem, calc(5px + 5vw));
    transition: padding-top 0.3s ease; 
    padding-bottom: 10rem;
	background-color: var(--light-background);
    text-align: center;    
}

.contact h2{
    color: black;
    font-size: 2rem;
}

.contact_social{
    display: flex;
	flex-direction: row;
    justify-content: center;
    gap:60px;
}

.contact_social a{
    text-decoration: none;
}

.contact_social a:hover{
    opacity: 50%;
}