/*Experience*/
.experiences{
    padding-top: 2rem;
    padding-bottom: 10rem;
	background-color: var(--dark-background);
    text-align: center;    
}

.experience-container{
    flex:1;
    display: flex;
    flex-direction: column;
}

.experiences h2{
    color: white;
    font-size: 2rem;
    padding-bottom: 8rem;
}

.experiences_content {
    margin-bottom   : 20px;
    padding-bottom: 10px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}

.experiences_content .box-text{
    z-index: 10;
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-right: -100px;
    color: var(--light-background);
    background-color: var(--gray);
    padding: 1.5rem;
    border-radius: 5%;
}
.position-text h3{
    font-size: 1.5rem;

}
.experiences-container img{
    width: 100%;
    border-radius: 10%;
    margin-bottom: 5rem;
  }

.experiences_end::before {
    background: var(--light-background);
	transform: rotate(-4deg) scale(1.2, 1);
}
/*Experience*/