/*Home*/
.home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    padding-bottom: 1rem;
    align-items: center;
    margin: auto;
	width: 1300px;
    gap:20px;
    padding-bottom: 10rem;
}

.home h3{
    color: var(--light-gray);
    font-size:  clamp(10px, 1vw, 20px);;
}

span{
    color: var(--dark-gray)
}

.home h1{
    color: var(--gray);
    font-size:  clamp(20px, 3vw, 31px);;
    padding-bottom: 1.5rem;
}

.home p{
    color: var(--light-gray);
    padding-top: 2rem;
}


.home_content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    text-align: left;
}

.home_photo {
    padding: 2rem;
}

.rounded-image {
    border-radius: 50%;
}
/*Home*/
