/*Home*/
.home {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    align-items: center;
    margin: auto;
    max-width: 1300px;
    padding-bottom:10rem;
    justify-content: center;
}

.home h3{
    color: var(--light-gray);
    font-size:  clamp(15px, 1vw, 20px);;
}

span{
    color: var(--dark-blue)
}

.home h1{
    color: var(--greenish-gray);
    font-size:  clamp(27px, 3vw, 35px);;
    padding-bottom: 1.5rem;
}

.home p{
    color: var(--light-gray);
    padding-top: 2rem;
    padding-right: 5%;

}


.home_content {
    flex: 1; 
    flex-direction: column;
    text-align: left;
    min-width: 400px;
    max-width: 700px;
    padding-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animate.home_content {
    opacity: 1;
    transform: translateY(0);
}

.company {
    color:var(--greenish-gray); /* Couleur du texte du lien */
    text-decoration: none; 
    cursor: pointer;
    font-weight: bold;

}

.company:hover {
    text-decoration: underline;
}

.home_photo {
    padding: 2rem;
}

.rounded-image {
    border-radius: 50%;
    width: clamp(250px, 40vw, 480px);
	height: clamp(250px, 40vw, 480px);
	-webkit-clip-path: circle(0%);
	clip-path: circle( 0%);
	transform: translateY(0px);
	transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;}

.rounded-image.animate {
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
    transform: translateY(-5px); /* Réglez la valeur selon vos préférences */
}
/*Home*/
