/*Projects*/
.projects{
    padding-top: max(10rem, calc(5px + 5vw));
    transition: padding-top 0.2s ease; 
	background-color: var(--dark-background);
    text-align: center;    
}
.projects h2{
    position: relative;
    color: white;
    font-size: 2rem;
    padding-bottom: 5rem;
}
.project-text{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-text a{
    text-decoration: none;
    color: var(--greenish-gray);
}

.projects_content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom:10rem ;
    z-index: 2;
    position: relative;
}

.projects_content .box-project-text{
    z-index: 10;
	position: relative;
	display: flex;
	flex-direction: column;
    color: var(--light-background);
    background-color: var(--greenish-gray);
    padding: 1.5rem;
    border-radius: 5%;
    width: calc(clamp(400px, 30vw, 600px) * 1.05);
    text-align: justify;
}

.project-text h3{
    font-size: 1.5rem;
}

.projects-container img{
    width: 100%;
    border-radius: 10%;
  }

.github_logo
{
	stroke: var(--greenish-gray);
}

.github_logo svg:hover
{
	opacity:  0.75;
	stroke: var(--light-background);
}

/* .projects_end::before {
    background: var(--dark-background);
	transform: rotate(-4deg) scale(1.2, 1);
} */

@media screen and (max-width: 780px)
{
    .projects{
        padding-bottom: 5rem;
    }
    .project-text h3{
        color: var(--light-greenish-gray);
    }
    .project_background{
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        padding: 5rem;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        margin: 2%; 
        margin-bottom: 5rem;
    }

    .project_background::before{
        content: '';
        position: absolute;
        border-radius: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        }

    .project-text {
        position: relative;
        justify-content: center;
        color: var(--greenish-gray);
        }
}
/*Projects*/
