/*Skills*/
.skills{
    padding-top: 4rem;
    padding-bottom: 20rem;
	background-color: var(--light-background);
    text-align: center;    
}
.skills h2{
    color: black;
    font-size: 2rem;
}

.category_title{
    font-size: 1.5rem;
    background-color: var(--dark-background);
    padding: 2rem;
    color: var(--light-background);
    border-radius: 20%;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap:100px;
}
.category_content .skill{
    width: 90px;
	height: 90px;
    text-decoration: none;
    padding: 0.5rem;
}

.category_skills{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	justify-content: space-between;
	flex-wrap: wrap;
	grid-gap: 50px;

}

.skill img{
    width: 100%;
  }

.skills_end::before {
    background: var(--dark-background);
	transform: rotate(4deg) scale(1.2, 1);
}
/*Skills*/