*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --sec-bg-color: white;
    --text-color-one: #456a91;
    --text-color-two: #a9bbd1;
    
    --dark-gray : #fff;
    --gray : #dad7cd;
    --light-gray : #a3b18a;
}

html
{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.section_end::before{
    content: '';
    position: absolute;
	height: 10vw;
    width: 100%;
    height: 7rem; 
    margin: -3.5vw 0px 0vw 0px;
}