*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --dark-background: #04041c ;
    --light-background :rgb(252, 252, 245);   
    --dark-gray : #333e7f;
    --gray : #837e6a;
    --light-gray : #e2e6dd;
}

html,body 
{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.section_end::before{
    content: '';
    position: absolute;
	height: 10vw;
    width: 100%;
    height: 7rem; 
    margin: -3.5vw 0px 0vw 0px;
}