*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --sec-bg-color: white;
    --text-color-one: #456a91;
    --text-color-two: #a9bbd1;
    
    --dark-gray : #fff;
    --gray : #dad7cd;
    --light-gray : #a3b18a;
}

html
{
	scroll-behavior: smooth;
	overflow-x: hidden;
}